<div>
<h2>
FORM
<form action='/uploads' method='POST'>

  <label for="formFile" class="form-label">Default Input example</label>
  <input name="age" id="age" class="form-control" type="text">

<input type="submit" class="btn btn-dark">Submit</button>
</form>
</h2>

</div>
